html
  head
    title Dependency Notifier
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../style.css")
  body(class='flex flex-col items-center h-full')
    header(class="flex justify-center md:py-6 bg-zinc-100 w-full")
      div(class="max-w-3xl flex justify-between w-full p-4 md:p-0")
        h1(class="text-fuchsia-600 text-3xl md:text-5xl") 
          a(href="/" class="border-0") NEITH
        div(class="flex items-center")
          if locals.organizationId
            a(href="/app" class="flex items-center justify-center hover:bg-fuchsia-500 text-white md:p-2 rounded-md h-8 w-16 md:w-24 md:h-12 bg-fuchsia-600") Go to App
          else
            a(href="/sign_in" class="flex items-center justify-center md:bg-white text-fuchsia-600 md:p-2 md:rounded-md h-8 w-16 md:w-24 md:h-12 md:border-2 md:border-fuchsia-600 mx-2 hover:bg-fuchsia-100 border-0") Sign In
            a(href="/sign_up" class="flex items-center justify-center hover:bg-fuchsia-500 text-white md:p-2 rounded-md h-8 w-16 md:w-24 md:h-12 bg-fuchsia-600") Sign Up
  
      //- if locals.organizationId
      //-   a(href="/app/") Go to App
      //- else 
      //-   a(href="/sign_in") Sign In
      //-   a(href="/sign_up") Sign Up

    block content

    footer(class="flex justify-center py-6 bg-zinc-100 w-full")
      div(class="max-w-3xl flex justify-between flex-col md:flex-row items-center md:items-end w-full")
        h1(class="text-fuchsia-600 text-4xl mb-4 md:mb-0") NEITH
        div
          a(href="/" class='ml-4') Docs
          a(href="/" class='ml-4') GitHub
          a(href="/" class='ml-4') Contact