html
  head
    title Dependency Notifier
  body
    if locals.organizationId
      a(href="/app/") Go to App
    else 
      a(href="/sign_in") Sign In
      a(href="/sign_up") Sign Up

    block content