extends layout.pug

block content
  div(class='w-full p-4 flex justify-center h-full md:pt-32')
    div(class='w-full md:max-w-md')
      form(method="POST" action="/sign_in" class="bg-white p-2 md:p-8 border shadow-lg rounded flex flex-col")
        label(for="email") Email
        input#email(name="email" type="email")

        label(for="password") Password
        input#password(name="password" type="password")

        button(id='submit' class="flex items-center justify-center hover:bg-fuchsia-500 mt-2 mb-1 text-white md:p-2 rounded-md h-8 w-full md:w-24 md:h-12 bg-fuchsia-600 self-end") Submit

      if flash
        include includes/flash.pug